
* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  background-color: gold;
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
}

.main {
  float: left;
  /*width: 60%;*/
  width: 60%;
  padding: 0 20px;
}
.picture {
  width: 55vw;
  object-fit: cover;
  height: 400px;
}

.right {
  background-color: gold;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: left;
  color: black;
}
.rightText {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 700px) {
  /* Mobile: */
  .menu, .main, .right, .picture {
    width: 100%;
  }
}
